server:
  port: 8080

spring:
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOriginPatterns:
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

      routes:
        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/api/users/**

        - id: post-service
          uri: http://post-service:8082
          predicates:
            - Path=/api/v1/posts/**

        - id: category-service
          uri: http://category-service:8083
          predicates:
            - Path=/categories/**

        - id: tag-service
          uri: http://tag-service:8084
          predicates:
            - Path=/tags/**
